body {
    font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Black";
}

hr {
    border-color: black;
    border-style: solid none none;
    border-width: 5px;
    width: 5%;
    margin: auto;
}

/* title section */
.container-fluid {
    padding: 3% 7% 5%;
}

.bg-img {
    background-size: cover;
    background-image: url('images/main.jpeg');
    min-height: 100%;
    filter: grayscale(55%);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Navigatiton Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nave-link {
    font-family: "Montserrat-black";
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

/* Services Section */
.features-fluid {
    padding: 7% 15%;
    text-align: center;
}

.about {
    padding-left: 120px;
}

.about-heading {
    color: black;
    font-size: 4rem;
    text-align: center;
}

.about-heading-who{
    font-size: 4rem;
}

#who-are-we{
    text-align: center;
    color: #fff;
}

.about-para{
    padding-top: 50px;
    color: black
}

/* List of services */
.services-fluid {
    padding:  30% 7%;
    /* width: 1170px; */
    /* margin: 5% 3%; */
}

.services-fluid h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    margin: 0;
}



/* List of services */
/* .bg-img{
    position: relative;
    min-height: 90vh;
    padding: 50px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/contact-us.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */

/* .contact-us .contact-div{
    max-width: 800px;
    text-align: center;
}

.contact-us .contact-div h2{
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.contact-us .contact-div p{
    font-weight: 300;
    color: white;
} */

.services-fluid .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.services-fluid .container{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.services-fluid .container .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.services-fluid .container .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.services-fluid .container .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.services-fluid .container .box .text h3{
    font-weight: 500;
    color: white;
}

/* .single-service{
    position: relative;
    width: 31%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 0 15px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 0 10px;
    text-align: center;
}

.line{
    width: 150px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
}

.single-service p{
    color: black;
    font-size: 14px;
    
}

.single-service h3{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.social{
    width: 60px;
    height: 60px;
    background: black;
    margin: 5% auto;
}

.social i{
    font-size: 30px;
    padding: 15px;
    color: #fff;
}

.single-service span{
    position: absolute;
    top:0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: .7s;
    transform: skewX(10deg);
}

.single-service:hover span{
    left: 110%;
}

@media (max-width: 600px){
    .wrapper{
        width: 100%;
    }
    .single-service{
        width: 95%;
        margin-bottom: 30px;
    }
    .wrapper h2{
        font-size: 30px;
    }
} */

/* Contact Us */
.contact-us{
    position: relative;
    min-height: 90vh;
    padding: 50px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/contact-us.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contact-us .contact-div{
    max-width: 800px;
    text-align: center;
}

.contact-us .contact-div h2{
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.contact-us .contact-div p{
    font-weight: 300;
    color: white;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-info .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contact-info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .contact-info .box .text h3{
    font-weight: 500;
    color: white;
}

.contactForm{
    width: 45%;
    height: 90%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
}


.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    
    .container{
        flex-direction: column;
    }
    
    .container .contact-info{
        margin-bottom: 40px;
    }
    
    .container .contact-info,
    .contactForm
    {
        width: 100%;
    }
}

/* Footer Section */
.footer-div{
    background-color: #fff;
    padding: 3% 10%;
    text-align: center;
}

.footer-icon {
    color: black;
    margin: 4px 10px;
}
