body {
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
}

/* hr {
  border-color: black;
  border-style: solid none none;
  border-width: 5px;
  width: 5%;
  margin: auto;
} */

/* title section */
.container-fluid {
  padding: 3% 7% 15%;
}

.heading-title {
  color: white;
  text-align: left;
  font-size: 4rem;
  margin-top: 150px;
}

.motto {
  color: white;
  text-align: left;
  font-size: 2rem;
  width: 60%; 
}

.bg-img {
  background-size: cover;
  background-image: url('images/main.jpeg');
  min-height: 100%;
  background-position: center;
  filter: grayscale(55%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Navigatiton Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nave-link {
  font-family: "Montserrat-black";
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

/* About Section */
.features-fluid {
  padding: 7% 15% 7% 0;
}

.about {
  padding-left: 120px;
  text-align: left;
}


.about-heading {
  color: black;
  font-size: 3.25rem;
}

.about-image {
  width: 100%;
  height: 90%;
}

.about-para{
  font-size: 1.25rem;
  margin-top: 50px;
}

/* Services Section */

#services{
  text-align: left;
}

.services-div{
  padding: 7% 15%;
}

.serv-heads{
  padding-right: 50%;
}

.services-heading{
  color: #fff;
  font-size: 4.25rem;
}

.serv-para{
  color: #fff;
  font-size: 0.85rem;
}

.services-img {
  background-size: cover;
  background-image: url('images/main.jpeg');
  min-height: 100%;
  background-position: center;
  background-attachment: fixed;
  filter: grayscale(55%);
  background-repeat: no-repeat;
}

.services-row{
  margin-top: 70px;
}

.card-info{
  margin-top: 100px;
}

/* Contact Us */
.contact-us{
  position: relative;
  min-height: 90vh;
  padding: 50px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(images/contact-us.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.contact-us .contact-div{
  max-width: 800px;
  text-align: center;
}

.contact-us .contact-div h2{
  font-size: 36px;
  font-weight: 500;
  color: white;
}

.contact-us .contact-div p{
  font-weight: 300;
  color: white;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contact-info{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contact-info .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contact-info .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contact-info .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  flex-direction: column;
  font-weight: 300;
}

.container .contact-info .box .text h3{
  font-weight: 500;
  color: white;
}

.contactForm{
  width: 45%;
  height: 90%;
  padding: 40px;
  background: #fff;
}

.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: red;
  font-size: 12px;
  transform: translateY(-20px);
}


.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px){
  .contact{
    padding: 50px;
  }

  .container{
    flex-direction: column;
  }

  .container .contact-info{
    margin-bottom: 40px;
  }

  .container .contact-info,
  .contactForm
  {
    width: 100%;
  }
}

/* Footer Section */
.footer-div{
  background-color: #fff;
  padding: 3% 10%;
  text-align: center;
}

.footer-icon {
  color: black;
  margin: 4px 10px;
}
