body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
}

hr {
  border-color: black;
  border-style: solid none none;
  border-width: 5px;
  width: 5%;
  margin: auto;

}

/* title section */
.container-fluid {
  padding: 3% 7% 5%;
}


.bg-img {
  background-size: cover;
  background-image: url('images/main.jpeg');
  min-height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Navigatiton Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nave-link {
  font-family: "Montserrat-black";
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

/* About Section */
.features-fluid {
  padding: 4% 15% 7%;
  text-align: center;
}

.about {
  padding-left: 120px;
}

.about-heading {
  color: black;
  font-size: 4rem;
  text-align: center;
}

.about-heading-who{
  font-size: 4rem;
}

#who-are-we{
  text-align: center;
  color: #fff;
}

.about-para{
  padding-top: 50px;
  color: black
}

.services-img {
  background-size: cover;
  background-image: url('images/main.jpeg');
  min-height: 100%;
  background-position: center;
  background-attachment: fixed;
  filter: grayscale(75%);
  background-repeat: no-repeat;
}

.card-info{
  margin-top: 100px;

}

.card-about{
  padding-right: 80px;
}

.card {
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  transition: 0.3s;
  width: 40%;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.about-info {
  margin: 150px 0px 0px 10px;
}

/* Footer Section */

.footer-div{
  background-color: #fff;
  padding: 3% 5%;
}

.footer-icon {
  color: black;
  margin: 2px 5px;
}